<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663452264340-klbc6v0auq2aruq8ob6306v48hgs1ccs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663452264340-klbc6v0auq2aruq8ob6306v48hgs1ccs</string>
	<key>API_KEY</key>
	<string>AIzaSyCWl7SZ-tHkkbqzNwwtU67YKO6IeKGfH2A</string>
	<key>GCM_SENDER_ID</key>
	<string>663452264340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DTFun.FlashChattApp</string>
	<key>PROJECT_ID</key>
	<string>cfadb-flash-chatt-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cfadb-flash-chatt-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663452264340:ios:1d2b9e79d0c10eddbb1181</string>
</dict>
</plist>